#tooltip {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999;
	cursor: pointer;
	pointer-events: none;
	background-color: #000;
	color: #FFF;
	padding: 1em;
}

#tooltip > table > tr > td {
	white-space: nowrap;
}
